<!DOCTYPE html>

<head>
    <title>Redefinir senha</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</head>

<body>
    <main>
        <h1>Redefinir senha</h1>
        <p>Apenas uma página de redefinição de senha de exemplo. Feita em EJS.</p>
        <input type="text" class="password" name="password"><br><br>
        <input type="submit" class="reset" value="Redefinir">
    </main>

    <script>
        $('.reset').click(() => {
            let password = $('.password').val();
            $.ajax({
                method: 'POST',
                url: '<%- root %>/api/changePass',
                data: {
                    password: password
                }
            }).then((result) => {
                console.log(result);
            }).catch((err) => {
                console.log(err);
            });
        });
    </script>
</body>

</html>
