<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <form id="form" class="panel panel-default" action="#">
            <div class="panel-heading">Registrar uma publicação</div>
            <div class="panel-body no-bottom">

                <div class="form-group">
                    <label for="master">Mestre</label><br>
                    <input type="text" name="master" class="master form-control">
                </div>
                <div class="form-group">
                    <label for="master">Recomendação</label><br>
                    <textarea name="recommendation" class="recommendation form-control" maxlength="500"></textarea>
                </div>

                <div class="form-group">
                    <label for="fileToUpload">Imagem</label>
                    <input type="file" class="fileToUpload form-control" name="fileToUpload"
                        accept="image/png, image/jpeg">
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="send btn btn-primary btn-lg btn-block" value="Enviar">
            </div>
        </form>
    </div>
</div>

<%- contentFor("scripts") %>
<script>
    $(document).ready(() => {
        $('.send').click(() => {
            let master = $('.master').val();
            let recommendation = $('.recommendation').val();
            let file = $('.fileToUpload')[0].files[0];
            let body = new FormData();

            body.append('master', master);
            body.append('recommendation', recommendation);
            body.append('fileToUpload', file);

            $.ajax({
                method: 'POST',
                url: '/api/publication/create',
                data: body,
                contentType: false,
                processData: false
            }).then(result => {
                console.log(result);
            })
        });
    });
</script>

