<!DOCTYPE html>
<html>

<head>
    <title>Upload</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</head>

<body>
    <h1>Gravar arquivo</h1>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" accept="image/png, image/jpeg"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</body>

</html>